<!DOCTYPE html>
<html lang="en">

<head>
    <title>ReFocus</title>


    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="https://unpkg.com/vue-firestore"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body onload="dialog = false">

    <div id="app_">
                <br>
                <br>    
                <v-layout row>
                        <v-flex xs12 sm6 offset-sm3>
                          <v-card>
                            <v-img
                              src="reddit.png"
                              height="200px"
                            >
                            </v-img>
                    
                            <v-card-title primary-title>
                              <div>
                                <div class="headline">Reddit</div>
                                
                              </div>
                            </v-card-title>
                    
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn icon @click="show = !show">
                                <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                              </v-btn>
                            </v-card-actions>
                    
                            <v-slide-y-transition>
                              <v-card-text v-show="show">
                                    <p>
                                            Website: wwww.Reddit.com <br>
                                            Redirect to : <a href= "www.coolmath.com"> www.coolmath.com </a> <br>
                                            Time Remaining for today : 2 hours
                                        </p>
                              </v-card-text>
                            </v-slide-y-transition>
                          </v-card>
                        </v-flex>
                      </v-layout>
                      <v-layout row>
                            <v-flex xs12 sm6 offset-sm3>
                              <v-card>
                                <v-img
                                  src="fortfort.jpg"
                                  height="200px"
                                >
                                </v-img>
                        
                                <v-card-title primary-title>
                                  <div>
                                    <div class="headline">Fortnite</div>
                                    
                                  </div>
                                </v-card-title>
                        
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn icon @click="show2 = !show2">
                                    <v-icon>{{ show2 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                                  </v-btn>
                                </v-card-actions>
                        
                                <v-slide-y-transition>
                                  <v-card-text v-show="show2">
                                        <p>
                                                Application: Fortnite.exe <br>
                                                Redirect to : <a href= "udemy.com"> udemy.com </a> <br>
                                                Time Remaining for today : 1 hours
                                            </p>
                                  </v-card-text>
                                </v-slide-y-transition>
                              </v-card>
                            </v-flex>
                          </v-layout>
                          <v-layout row v-for="item in Programs" v-if="item.name.length > 0">
                                <v-flex xs12 sm6 offset-sm3>
                                  <v-card>
                                   
                                    <v-card-title primary-title>
                                      <div>
                                        <div class="headline">{{item.name}}</div>
                                        
                                      </div>
                                    </v-card-title>
                            
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn icon @click="show3 = !show3">
                                        <v-icon>{{ show3 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                                      </v-btn>
                                    </v-card-actions>
                            
                                    <v-slide-y-transition>
                                      <v-card-text v-show="show3">
                                        <p>
                                            Website: {{item.app}} <br>
                                            Redirect to : <a href= {{item.redir}}> {{item.redir}} </a> <br>
                                            Time Remaining for today : {{item.allowance_left}} hours
                                        </p>
                                      </v-card-text>
                                    </v-slide-y-transition>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                          
        <!-- Modal Trigger -->
     

        <!-- Modal Structure -->
        <v-layout row justify-center>
                <v-dialog v-model="dialog"  persistent max-width="600px">
                  <v-btn slot="activator"  fab dark color="red" dark > <v-icon dark>add</v-icon></v-btn>
                  <v-card>
                    <v-card-title>
                      <span class="headline">ReFocus yourself</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="name" label="Name of Program*" required></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="application" label="Website or Path" ></v-text-field>
                          </v-flex>
                          
                          <v-flex xs12>
                            <v-text-field v-model = "redirect" label="Website to redirect to" required></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field v-model.number= "allowance" label="Allowance for bad program"></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                      <v-btn color="blue darken-1" flat @click="addProgram()">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-layout>
    
    </div>
   <!-- <canvas id="myChart" width="40" height="40"></canvas>-->
<script>
/*var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["1/20/19", "1/21/19", "1/23/19", "1/24/19", "1/25/19", "1/26/19"],
        datasets: [{
            label: '# of hours',
            data: [4, 4, 3, 2, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
*/
</script>
</body>

<script>

   // Initialize Firebase
   var config = {
    apiKey: "AIzaSyBPe11i2mdwRZFxOv1sxGAkh2jPtvVWh5s",
    authDomain: "ultimaterefocus.firebaseapp.com",
    databaseURL: "https://ultimaterefocus.firebaseio.com",
    projectId: "ultimaterefocus",
    storageBucket: "ultimaterefocus.appspot.com",
    messagingSenderId: "321167424846"
  };
  firebase.initializeApp(config);
  var db = firebase.firestore();
  var app = new Vue({
    el: '#app_',
    created: function(){
        var self = this;
       db.collection("ReFocus").get().then(function(qS){
            qS.forEach(function(doc){
               self.Programs.push(doc.data())
               dialog : false
            })
        })
    },
    data: {

        Programs: [],
        name: '',
        checked: 'true',
        allowance: '',
        application: '',
        redirect: '',
        dialog: '',
        show: '',
        show2: '',
        show3: '',
        type: ''
      
    },
    methods: {
      addProgram: function() {
        db.collection("ReFocus").add(
          {
            name: this.name,
            app: this.application,
            redir: this.redirect,
            allowance: this.allowance,
            type: this.type
            
          }
        );
        this.name= '';
        this.application= '';
        this.redirect= '';
        this.allowance='';
        this.type='';
      },
      deletePrograms: function(Programs) {
        Programs.doc(Programs['.key']).delete();
      }

      }
    });

</script>

</html>
